<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t :application_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <%= link_to_if params[:locale].present?, '日本語', url_for(controller: controller.controller_name, action: action_name, locale: '') %> |
      <%= link_to_if params[:locale] != 'en', 'English', url_for(controller: controller.controller_name, action: action_name, locale: 'en')  %>
    </p>
    <%= yield %>
  </body>
</html>
